@keyframes spin3d {
1%   {-webkit-transform: rotate3d(1, 1, 1, 286deg); transform: rotate3d(1, 1, 1, 228deg);}
2%   {-webkit-transform: rotate3d(1, 1, 1, 228deg); transform: rotate3d(1, 1, 1, 202deg);}
3%   {-webkit-transform: rotate3d(1, 1, 1, 70deg); transform: rotate3d(1, 1, 1, 229deg);}
4%   {-webkit-transform: rotate3d(1, 1, 1, 309deg); transform: rotate3d(1, 1, 1, 190deg);}
5%   {-webkit-transform: rotate3d(1, 1, 1, 335deg); transform: rotate3d(1, 1, 1, 65deg);}
6%   {-webkit-transform: rotate3d(1, 1, 1, 221deg); transform: rotate3d(1, 1, 1, 217deg);}
7%   {-webkit-transform: rotate3d(1, 1, 1, 226deg); transform: rotate3d(1, 1, 1, 336deg);}
8%   {-webkit-transform: rotate3d(1, 1, 1, 298deg); transform: rotate3d(1, 1, 1, 185deg);}
9%   {-webkit-transform: rotate3d(1, 1, 1, 54deg); transform: rotate3d(1, 1, 1, 19deg);}
10%   {-webkit-transform: rotate3d(1, 1, 1, 63deg); transform: rotate3d(1, 1, 1, 9deg);}
11%   {-webkit-transform: rotate3d(1, 1, 1, 104deg); transform: rotate3d(1, 1, 1, 35deg);}
12%   {-webkit-transform: rotate3d(1, 1, 1, 134deg); transform: rotate3d(1, 1, 1, 239deg);}
13%   {-webkit-transform: rotate3d(1, 1, 1, 58deg); transform: rotate3d(1, 1, 1, 285deg);}
14%   {-webkit-transform: rotate3d(1, 1, 1, 328deg); transform: rotate3d(1, 1, 1, 212deg);}
15%   {-webkit-transform: rotate3d(1, 1, 1, 185deg); transform: rotate3d(1, 1, 1, 252deg);}
16%   {-webkit-transform: rotate3d(1, 1, 1, 350deg); transform: rotate3d(1, 1, 1, 297deg);}
17%   {-webkit-transform: rotate3d(1, 1, 1, 265deg); transform: rotate3d(1, 1, 1, 304deg);}
18%   {-webkit-transform: rotate3d(1, 1, 1, 329deg); transform: rotate3d(1, 1, 1, 140deg);}
19%   {-webkit-transform: rotate3d(1, 1, 1, 35deg); transform: rotate3d(1, 1, 1, 53deg);}
20%   {-webkit-transform: rotate3d(1, 1, 1, 163deg); transform: rotate3d(1, 1, 1, 302deg);}
21%   {-webkit-transform: rotate3d(1, 1, 1, 315deg); transform: rotate3d(1, 1, 1, 356deg);}
22%   {-webkit-transform: rotate3d(1, 1, 1, 125deg); transform: rotate3d(1, 1, 1, 24deg);}
23%   {-webkit-transform: rotate3d(1, 1, 1, 276deg); transform: rotate3d(1, 1, 1, 96deg);}
24%   {-webkit-transform: rotate3d(1, 1, 1, 301deg); transform: rotate3d(1, 1, 1, 54deg);}
25%   {-webkit-transform: rotate3d(1, 1, 1, 143deg); transform: rotate3d(1, 1, 1, 141deg);}
26%   {-webkit-transform: rotate3d(1, 1, 1, 223deg); transform: rotate3d(1, 1, 1, 72deg);}
27%   {-webkit-transform: rotate3d(1, 1, 1, 240deg); transform: rotate3d(1, 1, 1, 120deg);}
28%   {-webkit-transform: rotate3d(1, 1, 1, 297deg); transform: rotate3d(1, 1, 1, 78deg);}
29%   {-webkit-transform: rotate3d(1, 1, 1, 144deg); transform: rotate3d(1, 1, 1, 91deg);}
30%   {-webkit-transform: rotate3d(1, 1, 1, 60deg); transform: rotate3d(1, 1, 1, 256deg);}
31%   {-webkit-transform: rotate3d(1, 1, 1, 182deg); transform: rotate3d(1, 1, 1, 342deg);}
32%   {-webkit-transform: rotate3d(1, 1, 1, 105deg); transform: rotate3d(1, 1, 1, 65deg);}
33%   {-webkit-transform: rotate3d(1, 1, 1, 114deg); transform: rotate3d(1, 1, 1, 87deg);}
34%   {-webkit-transform: rotate3d(1, 1, 1, 320deg); transform: rotate3d(1, 1, 1, 33deg);}
35%   {-webkit-transform: rotate3d(1, 1, 1, 292deg); transform: rotate3d(1, 1, 1, 1deg);}
36%   {-webkit-transform: rotate3d(1, 1, 1, 10deg); transform: rotate3d(1, 1, 1, 248deg);}
37%   {-webkit-transform: rotate3d(1, 1, 1, 46deg); transform: rotate3d(1, 1, 1, 230deg);}
38%   {-webkit-transform: rotate3d(1, 1, 1, 43deg); transform: rotate3d(1, 1, 1, 73deg);}
39%   {-webkit-transform: rotate3d(1, 1, 1, 136deg); transform: rotate3d(1, 1, 1, 192deg);}
40%   {-webkit-transform: rotate3d(1, 1, 1, 189deg); transform: rotate3d(1, 1, 1, 97deg);}
41%   {-webkit-transform: rotate3d(1, 1, 1, 330deg); transform: rotate3d(1, 1, 1, 193deg);}
42%   {-webkit-transform: rotate3d(1, 1, 1, 247deg); transform: rotate3d(1, 1, 1, 202deg);}
43%   {-webkit-transform: rotate3d(1, 1, 1, 190deg); transform: rotate3d(1, 1, 1, 258deg);}
44%   {-webkit-transform: rotate3d(1, 1, 1, 303deg); transform: rotate3d(1, 1, 1, 287deg);}
45%   {-webkit-transform: rotate3d(1, 1, 1, 76deg); transform: rotate3d(1, 1, 1, 193deg);}
46%   {-webkit-transform: rotate3d(1, 1, 1, 135deg); transform: rotate3d(1, 1, 1, 349deg);}
47%   {-webkit-transform: rotate3d(1, 1, 1, 102deg); transform: rotate3d(1, 1, 1, 347deg);}
48%   {-webkit-transform: rotate3d(1, 1, 1, 12deg); transform: rotate3d(1, 1, 1, 5deg);}
49%   {-webkit-transform: rotate3d(1, 1, 1, 183deg); transform: rotate3d(1, 1, 1, 231deg);}
50%   {-webkit-transform: rotate3d(1, 1, 1, 206deg); transform: rotate3d(1, 1, 1, 244deg);}
51%   {-webkit-transform: rotate3d(1, 1, 1, 148deg); transform: rotate3d(1, 1, 1, 288deg);}
52%   {-webkit-transform: rotate3d(1, 1, 1, 30deg); transform: rotate3d(1, 1, 1, 159deg);}
53%   {-webkit-transform: rotate3d(1, 1, 1, 43deg); transform: rotate3d(1, 1, 1, 299deg);}
54%   {-webkit-transform: rotate3d(1, 1, 1, 130deg); transform: rotate3d(1, 1, 1, 84deg);}
55%   {-webkit-transform: rotate3d(1, 1, 1, 37deg); transform: rotate3d(1, 1, 1, 84deg);}
56%   {-webkit-transform: rotate3d(1, 1, 1, 305deg); transform: rotate3d(1, 1, 1, 106deg);}
57%   {-webkit-transform: rotate3d(1, 1, 1, 24deg); transform: rotate3d(1, 1, 1, 141deg);}
58%   {-webkit-transform: rotate3d(1, 1, 1, 228deg); transform: rotate3d(1, 1, 1, 180deg);}
59%   {-webkit-transform: rotate3d(1, 1, 1, 145deg); transform: rotate3d(1, 1, 1, 180deg);}
60%   {-webkit-transform: rotate3d(1, 1, 1, 108deg); transform: rotate3d(1, 1, 1, 348deg);}
61%   {-webkit-transform: rotate3d(1, 1, 1, 69deg); transform: rotate3d(1, 1, 1, 18deg);}
62%   {-webkit-transform: rotate3d(1, 1, 1, 132deg); transform: rotate3d(1, 1, 1, 113deg);}
63%   {-webkit-transform: rotate3d(1, 1, 1, 87deg); transform: rotate3d(1, 1, 1, 283deg);}
64%   {-webkit-transform: rotate3d(1, 1, 1, 358deg); transform: rotate3d(1, 1, 1, 350deg);}
65%   {-webkit-transform: rotate3d(1, 1, 1, 334deg); transform: rotate3d(1, 1, 1, 209deg);}
66%   {-webkit-transform: rotate3d(1, 1, 1, 121deg); transform: rotate3d(1, 1, 1, 141deg);}
67%   {-webkit-transform: rotate3d(1, 1, 1, 48deg); transform: rotate3d(1, 1, 1, 336deg);}
68%   {-webkit-transform: rotate3d(1, 1, 1, 31deg); transform: rotate3d(1, 1, 1, 292deg);}
69%   {-webkit-transform: rotate3d(1, 1, 1, 212deg); transform: rotate3d(1, 1, 1, 140deg);}
70%   {-webkit-transform: rotate3d(1, 1, 1, 113deg); transform: rotate3d(1, 1, 1, 111deg);}
71%   {-webkit-transform: rotate3d(1, 1, 1, 176deg); transform: rotate3d(1, 1, 1, 270deg);}
72%   {-webkit-transform: rotate3d(1, 1, 1, 33deg); transform: rotate3d(1, 1, 1, 96deg);}
73%   {-webkit-transform: rotate3d(1, 1, 1, 263deg); transform: rotate3d(1, 1, 1, 235deg);}
74%   {-webkit-transform: rotate3d(1, 1, 1, 337deg); transform: rotate3d(1, 1, 1, 146deg);}
75%   {-webkit-transform: rotate3d(1, 1, 1, 60deg); transform: rotate3d(1, 1, 1, 169deg);}
76%   {-webkit-transform: rotate3d(1, 1, 1, 197deg); transform: rotate3d(1, 1, 1, 203deg);}
77%   {-webkit-transform: rotate3d(1, 1, 1, 228deg); transform: rotate3d(1, 1, 1, 69deg);}
78%   {-webkit-transform: rotate3d(1, 1, 1, 281deg); transform: rotate3d(1, 1, 1, 203deg);}
79%   {-webkit-transform: rotate3d(1, 1, 1, 289deg); transform: rotate3d(1, 1, 1, 215deg);}
80%   {-webkit-transform: rotate3d(1, 1, 1, 61deg); transform: rotate3d(1, 1, 1, 35deg);}
81%   {-webkit-transform: rotate3d(1, 1, 1, 138deg); transform: rotate3d(1, 1, 1, 133deg);}
82%   {-webkit-transform: rotate3d(1, 1, 1, 346deg); transform: rotate3d(1, 1, 1, 337deg);}
83%   {-webkit-transform: rotate3d(1, 1, 1, 25deg); transform: rotate3d(1, 1, 1, 176deg);}
84%   {-webkit-transform: rotate3d(1, 1, 1, 148deg); transform: rotate3d(1, 1, 1, 113deg);}
85%   {-webkit-transform: rotate3d(1, 1, 1, 50deg); transform: rotate3d(1, 1, 1, 102deg);}
86%   {-webkit-transform: rotate3d(1, 1, 1, 168deg); transform: rotate3d(1, 1, 1, 54deg);}
87%   {-webkit-transform: rotate3d(1, 1, 1, 127deg); transform: rotate3d(1, 1, 1, 264deg);}
88%   {-webkit-transform: rotate3d(1, 1, 1, 28deg); transform: rotate3d(1, 1, 1, 43deg);}
89%   {-webkit-transform: rotate3d(1, 1, 1, 243deg); transform: rotate3d(1, 1, 1, 277deg);}
90%   {-webkit-transform: rotate3d(1, 1, 1, 338deg); transform: rotate3d(1, 1, 1, 252deg);}
91%   {-webkit-transform: rotate3d(1, 1, 1, 122deg); transform: rotate3d(1, 1, 1, 167deg);}
92%   {-webkit-transform: rotate3d(1, 1, 1, 97deg); transform: rotate3d(1, 1, 1, 339deg);}
93%   {-webkit-transform: rotate3d(1, 1, 1, 346deg); transform: rotate3d(1, 1, 1, 17deg);}
94%   {-webkit-transform: rotate3d(1, 1, 1, 76deg); transform: rotate3d(1, 1, 1, 277deg);}
95%   {-webkit-transform: rotate3d(1, 1, 1, 14deg); transform: rotate3d(1, 1, 1, 202deg);}
96%   {-webkit-transform: rotate3d(1, 1, 1, 200deg); transform: rotate3d(1, 1, 1, 323deg);}
97%   {-webkit-transform: rotate3d(1, 1, 1, 304deg); transform: rotate3d(1, 1, 1, 198deg);}
98%   {-webkit-transform: rotate3d(1, 1, 1, 246deg); transform: rotate3d(1, 1, 1, 170deg);}
99%   {-webkit-transform: rotate3d(1, 1, 1, 40deg); transform: rotate3d(1, 1, 1, 103deg);}
100%   {-webkit-transform: rotate3d(1, 1, 1, 190deg); transform: rotate3d(1, 1, 1, 349deg);}
}
@keyframes spinbadly {
1%   {-webkit-transform: rotate(220deg); -moz-transform: rotate(147deg);}
2%   {-webkit-transform: rotate(11deg); -moz-transform: rotate(44deg);}
3%   {-webkit-transform: rotate(259deg); -moz-transform: rotate(234deg);}
4%   {-webkit-transform: rotate(261deg); -moz-transform: rotate(186deg);}
5%   {-webkit-transform: rotate(116deg); -moz-transform: rotate(169deg);}
6%   {-webkit-transform: rotate(230deg); -moz-transform: rotate(226deg);}
7%   {-webkit-transform: rotate(98deg); -moz-transform: rotate(147deg);}
8%   {-webkit-transform: rotate(12deg); -moz-transform: rotate(119deg);}
9%   {-webkit-transform: rotate(350deg); -moz-transform: rotate(137deg);}
10%   {-webkit-transform: rotate(217deg); -moz-transform: rotate(127deg);}
11%   {-webkit-transform: rotate(232deg); -moz-transform: rotate(93deg);}
12%   {-webkit-transform: rotate(157deg); -moz-transform: rotate(21deg);}
13%   {-webkit-transform: rotate(111deg); -moz-transform: rotate(297deg);}
14%   {-webkit-transform: rotate(309deg); -moz-transform: rotate(352deg);}
15%   {-webkit-transform: rotate(184deg); -moz-transform: rotate(151deg);}
16%   {-webkit-transform: rotate(329deg); -moz-transform: rotate(289deg);}
17%   {-webkit-transform: rotate(13deg); -moz-transform: rotate(219deg);}
18%   {-webkit-transform: rotate(259deg); -moz-transform: rotate(197deg);}
19%   {-webkit-transform: rotate(29deg); -moz-transform: rotate(148deg);}
20%   {-webkit-transform: rotate(164deg); -moz-transform: rotate(31deg);}
21%   {-webkit-transform: rotate(224deg); -moz-transform: rotate(95deg);}
22%   {-webkit-transform: rotate(195deg); -moz-transform: rotate(352deg);}
23%   {-webkit-transform: rotate(199deg); -moz-transform: rotate(48deg);}
24%   {-webkit-transform: rotate(145deg); -moz-transform: rotate(144deg);}
25%   {-webkit-transform: rotate(312deg); -moz-transform: rotate(359deg);}
26%   {-webkit-transform: rotate(118deg); -moz-transform: rotate(237deg);}
27%   {-webkit-transform: rotate(333deg); -moz-transform: rotate(45deg);}
28%   {-webkit-transform: rotate(29deg); -moz-transform: rotate(334deg);}
29%   {-webkit-transform: rotate(101deg); -moz-transform: rotate(132deg);}
30%   {-webkit-transform: rotate(69deg); -moz-transform: rotate(18deg);}
31%   {-webkit-transform: rotate(167deg); -moz-transform: rotate(292deg);}
32%   {-webkit-transform: rotate(298deg); -moz-transform: rotate(338deg);}
33%   {-webkit-transform: rotate(273deg); -moz-transform: rotate(357deg);}
34%   {-webkit-transform: rotate(106deg); -moz-transform: rotate(184deg);}
35%   {-webkit-transform: rotate(238deg); -moz-transform: rotate(147deg);}
36%   {-webkit-transform: rotate(77deg); -moz-transform: rotate(142deg);}
37%   {-webkit-transform: rotate(356deg); -moz-transform: rotate(347deg);}
38%   {-webkit-transform: rotate(312deg); -moz-transform: rotate(202deg);}
39%   {-webkit-transform: rotate(105deg); -moz-transform: rotate(300deg);}
40%   {-webkit-transform: rotate(289deg); -moz-transform: rotate(203deg);}
41%   {-webkit-transform: rotate(288deg); -moz-transform: rotate(51deg);}
42%   {-webkit-transform: rotate(251deg); -moz-transform: rotate(324deg);}
43%   {-webkit-transform: rotate(325deg); -moz-transform: rotate(156deg);}
44%   {-webkit-transform: rotate(328deg); -moz-transform: rotate(298deg);}
45%   {-webkit-transform: rotate(215deg); -moz-transform: rotate(121deg);}
46%   {-webkit-transform: rotate(78deg); -moz-transform: rotate(310deg);}
47%   {-webkit-transform: rotate(291deg); -moz-transform: rotate(288deg);}
48%   {-webkit-transform: rotate(61deg); -moz-transform: rotate(146deg);}
49%   {-webkit-transform: rotate(197deg); -moz-transform: rotate(260deg);}
50%   {-webkit-transform: rotate(90deg); -moz-transform: rotate(27deg);}
51%   {-webkit-transform: rotate(348deg); -moz-transform: rotate(183deg);}
52%   {-webkit-transform: rotate(192deg); -moz-transform: rotate(209deg);}
53%   {-webkit-transform: rotate(223deg); -moz-transform: rotate(167deg);}
54%   {-webkit-transform: rotate(118deg); -moz-transform: rotate(190deg);}
55%   {-webkit-transform: rotate(340deg); -moz-transform: rotate(106deg);}
56%   {-webkit-transform: rotate(35deg); -moz-transform: rotate(324deg);}
57%   {-webkit-transform: rotate(228deg); -moz-transform: rotate(53deg);}
58%   {-webkit-transform: rotate(183deg); -moz-transform: rotate(137deg);}
59%   {-webkit-transform: rotate(93deg); -moz-transform: rotate(216deg);}
60%   {-webkit-transform: rotate(68deg); -moz-transform: rotate(220deg);}
61%   {-webkit-transform: rotate(348deg); -moz-transform: rotate(85deg);}
62%   {-webkit-transform: rotate(284deg); -moz-transform: rotate(293deg);}
63%   {-webkit-transform: rotate(350deg); -moz-transform: rotate(160deg);}
64%   {-webkit-transform: rotate(277deg); -moz-transform: rotate(345deg);}
65%   {-webkit-transform: rotate(236deg); -moz-transform: rotate(343deg);}
66%   {-webkit-transform: rotate(276deg); -moz-transform: rotate(151deg);}
67%   {-webkit-transform: rotate(184deg); -moz-transform: rotate(336deg);}
68%   {-webkit-transform: rotate(266deg); -moz-transform: rotate(277deg);}
69%   {-webkit-transform: rotate(181deg); -moz-transform: rotate(313deg);}
70%   {-webkit-transform: rotate(9deg); -moz-transform: rotate(278deg);}
71%   {-webkit-transform: rotate(128deg); -moz-transform: rotate(302deg);}
72%   {-webkit-transform: rotate(323deg); -moz-transform: rotate(156deg);}
73%   {-webkit-transform: rotate(268deg); -moz-transform: rotate(66deg);}
74%   {-webkit-transform: rotate(234deg); -moz-transform: rotate(220deg);}
75%   {-webkit-transform: rotate(42deg); -moz-transform: rotate(342deg);}
76%   {-webkit-transform: rotate(259deg); -moz-transform: rotate(195deg);}
77%   {-webkit-transform: rotate(131deg); -moz-transform: rotate(256deg);}
78%   {-webkit-transform: rotate(213deg); -moz-transform: rotate(349deg);}
79%   {-webkit-transform: rotate(36deg); -moz-transform: rotate(138deg);}
80%   {-webkit-transform: rotate(197deg); -moz-transform: rotate(71deg);}
81%   {-webkit-transform: rotate(106deg); -moz-transform: rotate(301deg);}
82%   {-webkit-transform: rotate(262deg); -moz-transform: rotate(173deg);}
83%   {-webkit-transform: rotate(131deg); -moz-transform: rotate(274deg);}
84%   {-webkit-transform: rotate(48deg); -moz-transform: rotate(283deg);}
85%   {-webkit-transform: rotate(301deg); -moz-transform: rotate(72deg);}
86%   {-webkit-transform: rotate(175deg); -moz-transform: rotate(226deg);}
87%   {-webkit-transform: rotate(275deg); -moz-transform: rotate(263deg);}
88%   {-webkit-transform: rotate(56deg); -moz-transform: rotate(10deg);}
89%   {-webkit-transform: rotate(333deg); -moz-transform: rotate(119deg);}
90%   {-webkit-transform: rotate(227deg); -moz-transform: rotate(47deg);}
91%   {-webkit-transform: rotate(30deg); -moz-transform: rotate(236deg);}
92%   {-webkit-transform: rotate(58deg); -moz-transform: rotate(34deg);}
93%   {-webkit-transform: rotate(142deg); -moz-transform: rotate(9deg);}
94%   {-webkit-transform: rotate(228deg); -moz-transform: rotate(265deg);}
95%   {-webkit-transform: rotate(71deg); -moz-transform: rotate(134deg);}
96%   {-webkit-transform: rotate(237deg); -moz-transform: rotate(291deg);}
97%   {-webkit-transform: rotate(251deg); -moz-transform: rotate(344deg);}
98%   {-webkit-transform: rotate(270deg); -moz-transform: rotate(193deg);}
99%   {-webkit-transform: rotate(296deg); -moz-transform: rotate(88deg);}
100%   {-webkit-transform: rotate(284deg); -moz-transform: rotate(32deg);}
}
@keyframes spinbadlyr {
1%   {-webkit-transform: rotate(-234deg); -moz-transform: rotate(-45deg);}
2%   {-webkit-transform: rotate(-136deg); -moz-transform: rotate(-118deg);}
3%   {-webkit-transform: rotate(-150deg); -moz-transform: rotate(-346deg);}
4%   {-webkit-transform: rotate(-327deg); -moz-transform: rotate(-147deg);}
5%   {-webkit-transform: rotate(-280deg); -moz-transform: rotate(-73deg);}
6%   {-webkit-transform: rotate(-282deg); -moz-transform: rotate(-43deg);}
7%   {-webkit-transform: rotate(-213deg); -moz-transform: rotate(-299deg);}
8%   {-webkit-transform: rotate(-166deg); -moz-transform: rotate(-256deg);}
9%   {-webkit-transform: rotate(-223deg); -moz-transform: rotate(-15deg);}
10%   {-webkit-transform: rotate(-61deg); -moz-transform: rotate(-205deg);}
11%   {-webkit-transform: rotate(-328deg); -moz-transform: rotate(-49deg);}
12%   {-webkit-transform: rotate(-338deg); -moz-transform: rotate(-328deg);}
13%   {-webkit-transform: rotate(-96deg); -moz-transform: rotate(-226deg);}
14%   {-webkit-transform: rotate(-90deg); -moz-transform: rotate(-301deg);}
15%   {-webkit-transform: rotate(-178deg); -moz-transform: rotate(-325deg);}
16%   {-webkit-transform: rotate(-222deg); -moz-transform: rotate(-246deg);}
17%   {-webkit-transform: rotate(-260deg); -moz-transform: rotate(-28deg);}
18%   {-webkit-transform: rotate(-182deg); -moz-transform: rotate(-292deg);}
19%   {-webkit-transform: rotate(-165deg); -moz-transform: rotate(-213deg);}
20%   {-webkit-transform: rotate(-122deg); -moz-transform: rotate(-54deg);}
21%   {-webkit-transform: rotate(-65deg); -moz-transform: rotate(-221deg);}
22%   {-webkit-transform: rotate(-53deg); -moz-transform: rotate(-160deg);}
23%   {-webkit-transform: rotate(-20deg); -moz-transform: rotate(-217deg);}
24%   {-webkit-transform: rotate(-78deg); -moz-transform: rotate(-140deg);}
25%   {-webkit-transform: rotate(-167deg); -moz-transform: rotate(-12deg);}
26%   {-webkit-transform: rotate(-61deg); -moz-transform: rotate(-8deg);}
27%   {-webkit-transform: rotate(-356deg); -moz-transform: rotate(-359deg);}
28%   {-webkit-transform: rotate(-61deg); -moz-transform: rotate(-305deg);}
29%   {-webkit-transform: rotate(-335deg); -moz-transform: rotate(-282deg);}
30%   {-webkit-transform: rotate(-330deg); -moz-transform: rotate(-156deg);}
31%   {-webkit-transform: rotate(-82deg); -moz-transform: rotate(-299deg);}
32%   {-webkit-transform: rotate(-160deg); -moz-transform: rotate(-72deg);}
33%   {-webkit-transform: rotate(-73deg); -moz-transform: rotate(-126deg);}
34%   {-webkit-transform: rotate(-236deg); -moz-transform: rotate(-113deg);}
35%   {-webkit-transform: rotate(-285deg); -moz-transform: rotate(-275deg);}
36%   {-webkit-transform: rotate(-261deg); -moz-transform: rotate(-329deg);}
37%   {-webkit-transform: rotate(-262deg); -moz-transform: rotate(-87deg);}
38%   {-webkit-transform: rotate(-311deg); -moz-transform: rotate(-287deg);}
39%   {-webkit-transform: rotate(-199deg); -moz-transform: rotate(-124deg);}
40%   {-webkit-transform: rotate(-85deg); -moz-transform: rotate(-162deg);}
41%   {-webkit-transform: rotate(-50deg); -moz-transform: rotate(-332deg);}
42%   {-webkit-transform: rotate(-62deg); -moz-transform: rotate(-194deg);}
43%   {-webkit-transform: rotate(-108deg); -moz-transform: rotate(-115deg);}
44%   {-webkit-transform: rotate(-110deg); -moz-transform: rotate(-88deg);}
45%   {-webkit-transform: rotate(-20deg); -moz-transform: rotate(-316deg);}
46%   {-webkit-transform: rotate(-62deg); -moz-transform: rotate(-286deg);}
47%   {-webkit-transform: rotate(-15deg); -moz-transform: rotate(-150deg);}
48%   {-webkit-transform: rotate(-19deg); -moz-transform: rotate(-322deg);}
49%   {-webkit-transform: rotate(-277deg); -moz-transform: rotate(-270deg);}
50%   {-webkit-transform: rotate(-114deg); -moz-transform: rotate(-322deg);}
51%   {-webkit-transform: rotate(-322deg); -moz-transform: rotate(-4deg);}
52%   {-webkit-transform: rotate(-222deg); -moz-transform: rotate(-235deg);}
53%   {-webkit-transform: rotate(-301deg); -moz-transform: rotate(-251deg);}
54%   {-webkit-transform: rotate(-198deg); -moz-transform: rotate(-330deg);}
55%   {-webkit-transform: rotate(-53deg); -moz-transform: rotate(-264deg);}
56%   {-webkit-transform: rotate(-127deg); -moz-transform: rotate(-49deg);}
57%   {-webkit-transform: rotate(-153deg); -moz-transform: rotate(-131deg);}
58%   {-webkit-transform: rotate(-319deg); -moz-transform: rotate(-5deg);}
59%   {-webkit-transform: rotate(-85deg); -moz-transform: rotate(-108deg);}
60%   {-webkit-transform: rotate(-55deg); -moz-transform: rotate(-211deg);}
61%   {-webkit-transform: rotate(-323deg); -moz-transform: rotate(-46deg);}
62%   {-webkit-transform: rotate(-146deg); -moz-transform: rotate(-179deg);}
63%   {-webkit-transform: rotate(-134deg); -moz-transform: rotate(-58deg);}
64%   {-webkit-transform: rotate(-63deg); -moz-transform: rotate(-307deg);}
65%   {-webkit-transform: rotate(-174deg); -moz-transform: rotate(-144deg);}
66%   {-webkit-transform: rotate(-265deg); -moz-transform: rotate(-60deg);}
67%   {-webkit-transform: rotate(-302deg); -moz-transform: rotate(-165deg);}
68%   {-webkit-transform: rotate(-80deg); -moz-transform: rotate(-10deg);}
69%   {-webkit-transform: rotate(-50deg); -moz-transform: rotate(-179deg);}
70%   {-webkit-transform: rotate(-216deg); -moz-transform: rotate(-290deg);}
71%   {-webkit-transform: rotate(-329deg); -moz-transform: rotate(-135deg);}
72%   {-webkit-transform: rotate(-79deg); -moz-transform: rotate(-212deg);}
73%   {-webkit-transform: rotate(-10deg); -moz-transform: rotate(-146deg);}
74%   {-webkit-transform: rotate(-247deg); -moz-transform: rotate(-297deg);}
75%   {-webkit-transform: rotate(-77deg); -moz-transform: rotate(-316deg);}
76%   {-webkit-transform: rotate(-1deg); -moz-transform: rotate(-279deg);}
77%   {-webkit-transform: rotate(-231deg); -moz-transform: rotate(-157deg);}
78%   {-webkit-transform: rotate(-315deg); -moz-transform: rotate(-178deg);}
79%   {-webkit-transform: rotate(-325deg); -moz-transform: rotate(-326deg);}
80%   {-webkit-transform: rotate(-58deg); -moz-transform: rotate(-336deg);}
81%   {-webkit-transform: rotate(-106deg); -moz-transform: rotate(-347deg);}
82%   {-webkit-transform: rotate(-60deg); -moz-transform: rotate(-41deg);}
83%   {-webkit-transform: rotate(-284deg); -moz-transform: rotate(-259deg);}
84%   {-webkit-transform: rotate(-333deg); -moz-transform: rotate(-184deg);}
85%   {-webkit-transform: rotate(-126deg); -moz-transform: rotate(-265deg);}
86%   {-webkit-transform: rotate(-5deg); -moz-transform: rotate(-346deg);}
87%   {-webkit-transform: rotate(-269deg); -moz-transform: rotate(-169deg);}
88%   {-webkit-transform: rotate(-185deg); -moz-transform: rotate(-86deg);}
89%   {-webkit-transform: rotate(-161deg); -moz-transform: rotate(-230deg);}
90%   {-webkit-transform: rotate(-214deg); -moz-transform: rotate(-329deg);}
91%   {-webkit-transform: rotate(-351deg); -moz-transform: rotate(-328deg);}
92%   {-webkit-transform: rotate(-229deg); -moz-transform: rotate(-311deg);}
93%   {-webkit-transform: rotate(-302deg); -moz-transform: rotate(-34deg);}
94%   {-webkit-transform: rotate(-310deg); -moz-transform: rotate(-147deg);}
95%   {-webkit-transform: rotate(-110deg); -moz-transform: rotate(-72deg);}
96%   {-webkit-transform: rotate(-123deg); -moz-transform: rotate(-69deg);}
97%   {-webkit-transform: rotate(-11deg); -moz-transform: rotate(-62deg);}
98%   {-webkit-transform: rotate(-80deg); -moz-transform: rotate(-73deg);}
99%   {-webkit-transform: rotate(-320deg); -moz-transform: rotate(-159deg);}
100%   {-webkit-transform: rotate(-314deg); -moz-transform: rotate(-50deg);}

}

@keyframes bkg {
1%   {background-position: 207% 19%);}
2%   {background-position: 80% 115%);}
3%   {background-position: 273% 336%);}
4%   {background-position: 51% 105%);}
5%   {background-position: 76% 341%);}
6%   {background-position: 136% 9%);}
7%   {background-position: 294% 273%);}
8%   {background-position: 191% 342%);}
9%   {background-position: 57% 294%);}
10%   {background-position: 355% 162%);}
11%   {background-position: 325% 221%);}
12%   {background-position: 167% 67%);}
13%   {background-position: 161% 266%);}
14%   {background-position: 74% 29%);}
15%   {background-position: 308% 215%);}
16%   {background-position: 113% 299%);}
17%   {background-position: 263% 328%);}
18%   {background-position: 206% 2%);}
19%   {background-position: 280% 181%);}
20%   {background-position: 48% 164%);}
21%   {background-position: 330% 135%);}
22%   {background-position: 30% 214%);}
23%   {background-position: 22% 358%);}
24%   {background-position: 90% 293%);}
25%   {background-position: 5% 302%);}
26%   {background-position: 59% 65%);}
27%   {background-position: 193% 28%);}
28%   {background-position: 324% 263%);}
29%   {background-position: 333% 161%);}
30%   {background-position: 53% 5%);}
31%   {background-position: 303% 92%);}
32%   {background-position: 288% 29%);}
33%   {background-position: 251% 314%);}
34%   {background-position: 297% 244%);}
35%   {background-position: 301% 347%);}
36%   {background-position: 152% 81%);}
37%   {background-position: 340% 209%);}
38%   {background-position: 34% 221%);}
39%   {background-position: 316% 264%);}
40%   {background-position: 162% 156%);}
41%   {background-position: 323% 208%);}
42%   {background-position: 281% 168%);}
43%   {background-position: 226% 81%);}
44%   {background-position: 349% 90%);}
45%   {background-position: 306% 128%);}
46%   {background-position: 87% 203%);}
47%   {background-position: 329% 334%);}
48%   {background-position: 2% 190%);}
49%   {background-position: 49% 331%);}
50%   {background-position: 351% 107%);}
51%   {background-position: 228% 185%);}
52%   {background-position: 30% 155%);}
53%   {background-position: 283% 152%);}
54%   {background-position: 4% 5%);}
55%   {background-position: 106% 235%);}
56%   {background-position: 101% 146%);}
57%   {background-position: 186% 138%);}
58%   {background-position: 95% 153%);}
59%   {background-position: 284% 348%);}
60%   {background-position: 250% 266%);}
61%   {background-position: 354% 109%);}
62%   {background-position: 84% 60%);}
63%   {background-position: 309% 137%);}
64%   {background-position: 176% 352%);}
65%   {background-position: 155% 59%);}
66%   {background-position: 101% 211%);}
67%   {background-position: 351% 232%);}
68%   {background-position: 183% 15%);}
69%   {background-position: 132% 157%);}
70%   {background-position: 198% 192%);}
71%   {background-position: 58% 241%);}
72%   {background-position: 319% 256%);}
73%   {background-position: 194% 30%);}
74%   {background-position: 32% 15%);}
75%   {background-position: 188% 239%);}
76%   {background-position: 234% 31%);}
77%   {background-position: 184% 65%);}
78%   {background-position: 257% 116%);}
79%   {background-position: 70% 318%);}
80%   {background-position: 56% 76%);}
81%   {background-position: 326% 2%);}
82%   {background-position: 43% 55%);}
83%   {background-position: 280% 45%);}
84%   {background-position: 121% 65%);}
85%   {background-position: 214% 279%);}
86%   {background-position: 88% 164%);}
87%   {background-position: 154% 245%);}
88%   {background-position: 254% 64%);}
89%   {background-position: 81% 341%);}
90%   {background-position: 333% 9%);}
91%   {background-position: 151% 194%);}
92%   {background-position: 352% 29%);}
93%   {background-position: 187% 151%);}
94%   {background-position: 275% 62%);}
95%   {background-position: 132% 185%);}
96%   {background-position: 53% 110%);}
97%   {background-position: 255% 57%);}
98%   {background-position: 197% 187%);}
99%   {background-position: 235% 260%);}
100%   {background-position: 172% 294%);}
}
